<?xml version='1.0' encoding='utf-8'?>
<widget id="com.theralog.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Theralog</name>
    <description>
        Aplikasi pencatatan log sesi untuk Terapis.
    </description>
    <author email="admin@theralog.com" href="https://theralogapp.vercel.app">
        Theralog Team
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="res/icon.png" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#005a70" />
    </platform>
</widget>
